<div [class]="'main-overview'"
     [style.margin]="dimensions.borderWidth + 'px'"
     [style.width]="(dimensions.screenWidth - (dimensions.borderWidth * 2)) + 'px'"
     [style.height]="(dimensions.screenHeight - (dimensions.borderWidth * 2)) + 'px'">
  <div [class]="'info-overview'" [style.width]="dimensions.hintAndGameSplit + '%'" [style.height]="'100%'">
    <app-info-screen></app-info-screen>
  </div>
  <div [class]="'game-overview'" [style.width]="100 - dimensions.hintAndGameSplit + '%'" [style.height]="'100%'">
    <app-game-screen></app-game-screen>
  </div>
</div>
